.container{
    max-width: 500px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
}


.plant{
    background-color: beige;
    border-radius: 10px;
    padding: 1rem;
    min-height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.plant-footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.plant-list{
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(1, minmax(200px, 500px));
}

.homepage{
    display: flex;       
    flex-flow: row wrap;
}

.homepageDiv{
    display: flex;       
    flex-flow: column; 
}


.h1Homepage{
    font-size: 25px;
    font-weight: 200;
    letter-spacing: 1px;
    margin: 30px 0;
}

.centered{
    align-self: center;
}


.button {
    font-size: 16px;
    font-weight: 200;
    letter-spacing: 1px;
    padding: 13px 20px 13px;
    outline: 0;
    border: 1px solid black;
    cursor: pointer;
    position: relative;
    background-color: rgba(0, 0, 0, 0);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .button:after {
    content: "";
    background-color: #ffe54c;
    width: 100%;
    z-index: -1;
    position: absolute;
    height: 100%;
    top: 7px;
    left: 7px;
    transition: 0.2s;
  }
  
  .button:hover:after {
    top: 0px;
    left: 0px;
  }
  
  @media (min-width: 768px) {
    .button {
    padding: 13px 50px 13px;
    }
  }
